@import url(/css/reset.css);
@import url(/css/main.css);

#background {
    background-color: antiquewhite;
}
header {
    background-color: rgb(188, 183, 139);
    padding: 100px;
}
#images__box {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

#first {
    position: relative;
}
#first:hover {
    opacity: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}
#second {
    position:absolute;
}
h1 {
    font-size:7em;
    text-align: center;
    color: rgb(41, 41, 41);
    font-family:fantasy;
    position: relative;
}
b {
    color: rgb(189, 55, 55);
}