@import url(/css/reset.css);
@import url(/css/main.css);

#background {
    background-color: rgb(212, 210, 190);
}
header {
    background-color: rgb(188, 183, 139);
    padding: 100px;
}
#images__box {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
#first {
    position: relative;
}
#first:hover {
    opacity: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}
#second {
    position:absolute;
}
h1 {
    font-size:7em;
    text-align: center;
    color: rgb(41, 41, 41);
    font-family:fantasy;
    position: relative;
}
b {
    color: rgb(189, 55, 55);
}
footer {
    background-color: rgb(188, 183, 139);
    color: rgb(234, 232, 203);
    padding: 30px;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}